<template>
  <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">{{trans('ui.dashboardForm')}}</h3>
              </div>
              <!-- /.box-header -->
              <!-- form start -->
              <form class="form-horizontal" method="POST" @submit.prevent="submit" @keydown="clearErrors($event.target.name)">
                <div class="box-body">
                    <input v-if="dashboard.id" type="hidden" name="_method" value="PATCH">
                    <input v-if="dashboard.id" id="id" name="id" type="hidden" value="dashboard.id>

                  <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">{{trans('ui.title')}}</label>

                    <div class="col-sm-10">
                      <input class="form-control" label={{trans('ui.title')}} type="text" name="title" value="{{ $dashboard->title or old('title') }}"></input>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">{{trans('ui.description')}}</label>

                    <div class="col-sm-10">
                      <textarea style="resize:none" name="description" class="form-control" rows="3" placeholder="" label={{trans('ui.description')}}>{{ $dashboard->description or old('description') }}</textarea>
                    </div>
                  </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                  <button type="submit" class="btn btn-primary pull-right">{{trans('ui.submit') }}</button>
                </div>
                <!-- /.box-footer -->
              </form>
            </div>
</template>

<script>
    export default {
      data: function () {
        return {
          form: new Form({email: '', password: '', password_confirmation: '', token: this.token }),
          formResult: '',
          dashboard : dashboard,
        }
      },
    }
</script>
